:root {
  --font-family: 'Ubuntu', 'sans-serif';
  --button-color: #007bff;

}

body {
  background-color: #ffff;
  height: 100vh;
  width: 100vw;
}

.main {
  border: 1px solid #ced4da;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  padding: 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  align-items: flex-start
}

.layout {
  display: flex;
}

.formButton {
  width: 150px;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: var(--button-color);
  color: white;
  border: none;
  cursor: pointer;
  float: right;
  margin-right: 0;
  align-self: flex-end;
}

h2 {
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: bold;
  color: #022959;
  line-height: 120%;
}

p {
  margin-bottom: 0.5rem;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight:  400;
  line-height: 150%;
}

label {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight:  400;
  color: #022959;
  line-height: 120%;
}




