.menu {
  width: 20vw;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  list-style-type: none;
}

.stepsButton {
  position: relative;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  line-height: 120%;
  background: #4895ef;
  border: 1.5px solid black;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  height: 33px;
  width: 33px;
  left: 0;
  margin-left: 0;
  top: 2.3rem;
}

.stepsButton:hover, .stepsButton:focus {
  background: #bee2fd;
}

span, li {
  font-family: var(--font-family);
  display: flex;
  justify-content: flex-start;
  margin-left: 2 rem;
}

ul {
  flex-direction: column;
}