.menu {
  height: 553px;
  width: 274px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius:var();
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  list-style-type: none;
}

.stepsButton {
  position: relative;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  line-height: 120%;
  background: #4895ef;
  border: 1.5px solid black;
  border-radius: var(--border-radius);
  cursor: pointer;
  color: white;
  height: 33px;
  width: 33px;
  left: 0;
  margin-left: 0;
  top: 2.3rem;
}

.stepsButton:hover, .stepsButton:focus {
  background: #bee2fd;
}

span, li {
  font-family: var(--font-family);
  display: flex;
  justify-content: flex-start;
  margin-left: 3rem;
}
li {
  font-size: 14px;
  font-weight: bold;
}
span {
  font-size: 12px;
  font-weight: 400;
}


ul {
  display: flex;
  flex-direction: column;
}
